/* Общий фон приложения */
.root {
    -fx-background-color: #2b2b2b; /* Тёмно-серый фон */
    -fx-text-fill: #ffffff; /* Светлый текст */
}

/* Стили кнопок */
.button {
    -fx-background-color: #3c3f41; /* Серый фон кнопки */
    -fx-text-fill: #ffffff; /* Белый текст кнопки */
    -fx-background-radius: 5; /* Скругление углов */
}

.button:hover {
    -fx-background-color: #4b4e50; /* Цвет кнопки при наведении */
}

/* Стили AnchorPane */
.AnchorPane {
    -fx-background-color: #2b2b2b; /* Тёмно-серый фон */
}

/* Стили SplitPane */
.split-pane {
    -fx-background-color: #3b3b3b; /* Фон панели */
    -fx-divider-color: #555555; /* Цвет разделителя */
}

/* Стили ScrollPane */
.scroll-pane {
    -fx-background: #2b2b2b; /* Тёмный фон */
    -fx-border-color: #454545; /* Цвет границ */
}

.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #666666; /* Цвет индикатора прокрутки */
    -fx-background-radius: 5;
}

/* Стили Canvas */
.canvas {
    -fx-background-color: #3c3f41; /* Серый фон Canvas */
    -fx-border-color: #555555; /* Цвет рамки */
}

/* Стили TitledPane */
.titled-pane {
    -fx-background-color: #3b3b3b; /* Фон заголовка */
    -fx-border-color: #454545; /* Цвет границы */
    -fx-text-fill: #d0d0d0;
}

.titled-pane > .title {
    -fx-background-color: #454545; /* Цвет заголовка */
}

/* Стили ListView */
.list-view {
    -fx-background-color: #2b2b2b; /* Тёмный фон */
    -fx-text-fill: #d0d0d0; /* Цвет текста */
    -fx-border-color: #454545; /* Цвет границы */
}

/* Стили BorderPane */
.border-pane {
    -fx-background-color: #2b2b2b; /* Тёмный фон */
    -fx-border-color: #555555; /* Цвет рамки */
}

/* Стили TabPane */
.tab-pane {
    -fx-background-color: #2b2b2b; /* Тёмный фон */
}

.tab {
    -fx-background-color: #575757; /* Цвет невыбранных вкладок */
    -fx-text-fill: #d0d0d0;
}

.tab:selected {
    -fx-background-color: #454545; /* Цвет выбранной вкладки */
    -fx-text-fill: #d0d0d0;
}

.tab .tab-label {
    -fx-text-fill: #d0d0d0; /* Белый текст на вкладке */
}

Text {
    -fx-fill: #ffffff; /* Белый цвет текста */
}


